@model SocialMedia.ViewModels.NewBoard;
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2>Add a new Board</h2>
    <form method="post" asp-action="Create" asp-controller="Home">
        <label>Gender</label>
        <input type="text" asp-for="Title" />
        <label>Name</label>
        <input type="text" asp-for="Name" />
        <label>Latitude</label>
        <input type="text" asp-for="Latitude" />
        <label>Longitude</label>
        <input type="text" asp-for="Longitude" />
        <input type="submit" class="btn" />
    </form>
</div>

